{% load i18n %}
<div class="row-fluid">
    <div id="footer" class="span12">
        2013 &copy; 1degreenorth Pte Ltd - <a href="/terms">Terms and Conditions</a> - <a href="/privacy">Privacy Policy</a>
    </div>
</div>
