<div class="row">
	<div class="span8 offset2">
		<center>
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="item active"><center><div style="height: 400px; display:inline-block; vertical-align:top"><img src="{{ STATIC_URL }}img/frontpage/users.png"></div></center>
						<div class="carousel-caption" style="position:relative">
							<h4>ActiveCitizen users' searches </h4>
							<p>Combination of keywords searched by ActiveCitizen users</p>
						</div>
					</div>

					<div class="item"><center><div style="height: 400px; display:inline-block; vertical-align:top"><img src="{{ STATIC_URL }}img/frontpage/twitter.png"></div></center>
						<div class="carousel-caption" style="position:relative">
							<h4>Twitter local trends word cloud</h4>
							<p>Combination of local trending keywords from Twitter</p>
						</div>
					</div>

					<div class="item"><center><div style="height: 400px; display:inline-block; vertical-align:top"><img src="{{ STATIC_URL }}img/frontpage/google.png"></div></center>
						<div class="carousel-caption" style="position:relative">
							<h4>Google Trends word cloud</h4>
							<p>Combination of rising keywords from Google Trends</p>
						</div>
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</center>
	</div>
</div>
<div class="row" style="margin-top: 30px">
	<div class="span12">
	</div>
	<div class="span12">
		<center>
			<div class="form-search">
				<input type="text" id="search_input" class="input-xxlarge search-query" placeholder="Enter a Twitter search term, e.g. singapore, pap, android, etc.">
				<button class="btn" id="analyze_btn">Analyze!</button>
			</div>
		</center>
	</div>
</div>
<div class="row-fluid" style="margin-top: 30px">
	<div class="span12" id="alert-container">
	</div>
</div>
<div class="row-fluid chart-container">
	<div class="span6">
		<div class="widget-box">
			<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Number of tweets from Singapore</h5></div>
			<div class="widget-content">
				<div id="overall_div" class="overall">
					<img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
					<svg class="overall" id="overall_graph"></svg></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box">
			<div class="widget-title"><span class="icon"><i
						class="icon-signal"></i></span><h5>Word cloud</h5></div>
			<div class="widget-content">
				<div id="wordcloud_div" class="wordcloud">
					<img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
					<svg class="wordcloud" id="wordcloud_graph"></svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid chart-container">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Relationship</h5></div>
			<div class="widget-content">
				<div id="igraph_div" class="igraph">
					<img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
					<svg id="relation_graph"></svg>
					<!--<center>-->
					<!--<div id="igraph_graph" style="height: 600px; display:inline-block; vertical-align:top">-->
					<!--</div>-->
					<!--</center>-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid chart-container">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Sentiment</h5></div>
			<div class="widget-content">
				<div id="sentiment_div" class="sentiment">
					<img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" alt="" />
					<svg class="sentiment" id="sentiment_graph"></svg>
				</div>
			</div>
		</div>
	</div>
</div>
