{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.main.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.grey.css" class="skin-color" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/site.css"/>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block topbar_base %}
<div id="header">
    <h1><a href="dashboard">Unicorn Admin</a></h1>
</div>
<div id="user-nav" class="navbar navbar-inverse">
        <div class="container">
            <div class="nav-collapse">
                {% include "_account_bar.html" %}
            </div>
        </div>
</div>
{% endblock %}

{% block body_base %}
{% include "_sidebar.html" %}
{% include "_dashboard.html" %}
{% endblock %}

{% block script_base %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
{% endblock %}
