{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/front.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/nv.d3.css"/>
{% endblock %}

{% block topbar_base %}
	<div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
		<div class="navbar-inner">
			<div class="container">
				{% block topbar %}
				{% block site_brand %}
				<img class="acsg-logo" src="{{ STATIC_URL}}img/ac_logo_60.jpg" alt="" />
				<a class="brand" href="/">{{ SITE_NAME }}</a>
				{% endblock %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<div class="container">
{% include "_frontpage.html" %}
</div>
{% endblock %}

{% block footer_base %}
	{% include "_footer.html" %}
{% endblock %}

{% block script_base %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% if ENVIRONMENT.load_deployr %}
<script type="text/javascript" src="./revolution/js/2.0/build/revo-deployR/revo-deployR_yuicombo_simple.js"></script>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
<script src="{{ STATIC_URL }}js/d3.v2.js"></script>
<script src="{{ STATIC_URL }}js/d3.layout.cloud.js"></script>
<script src="{{ STATIC_URL }}js/nv.d3.min.js"></script>
<script src="{{ STATIC_URL }}js/wordcloud.js"></script>
<script src="{{ STATIC_URL }}js/relation_graph.js"></script>
<script src="{{ STATIC_URL }}js/overall.js"></script>
<script src="{{ STATIC_URL }}js/sentiment.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var showLoading = function() {
		//$output.html('<img src="{{ STATIC_URL }}img/placeholder600x800.gif">');
	};
	showLoading();
	$('.carousel').carousel({interval: 4000});
})

{% if ENVIRONMENT.local %}
$('#analyze_btn').click(function() {
	$.relation_graph.update_relation_graph();
});
{% endif %}
</script>
{% if not ENVIRONMENT.local %}
<script src="{{ STATIC_URL }}js/front_page.js"></script>
{% endif %}
{% endblock %}
