{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<div class="container">
{% if not user.is_authenticated %}
{% include "_frontpage.html" %}
{% endif %}

{% include "_main.html" %}
</div>
{% endblock %}

{% block script_base %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="./revolution/js/2.0/build/revo-deployR/revo-deployR_yuicombo_simple.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	<script src="{{ STATIC_URL }}pinax/js/theme.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        SearchStrings = [];
        Inputs = {};

	{% include "_main_script.html" %}

	{% if not user.is_authenticated %}
        var showLoading = function() {
            //$output.html('<img src="{{ STATIC_URL }}img/placeholder600x800.gif">');
        };
        showLoading();
        $('.carousel').carousel({interval: 4000});
	{% endif %}

	window.project = null;
    })
    </script>
{% endblock %}
